<%
  meta title: "Article Archive for #{params[:date]}",
       description: 'Top Jokes, articles, images, stories and memes from the web',
       keywords: ['Jokes', 'Funny Articles', 'Trending Humor', 'Funny Pictures']
%>

<% if @articles.count > 0 %>
  <div id='outer-content-wrapper'>
    <div class='row' id='fixed-height-subnav'>
      <%= will_paginate @articles, class: 'digg_pagination' %>
      <%= render 'layouts/date_picker', { channel: '/articles', css: "archive-date" } %>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Article Archive for <%= params[:date] %> from All Sources</h3>
      </div>
      <%= render 'listing_panel_body' %>
    </div>
  </div>
<% else %>
  <div id='inner-content-wrapper'>
    <%= image_tag 'derp.jpg' %>
    <div class='row' id='fixed-height-subnav'>
      <%= render 'layouts/date_picker', { channel: '/articles', css: "" } %>
    </div>
  </div>
<% end %>
