<%
  meta title: "Video Archive for #{params[:date]}",
       description: 'Top funny videos from the whole web',
       keywords: ['Funny Videos', 'Trending Videos', 'Funny Video Archive']
%>

<% if @videos.count > 0 %>
  <div id='outer-content-wrapper'>
    <div class='row' id='fixed-height-subnav'>
      <%= will_paginate @videos, class: 'digg_pagination' %>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Video Archive for <%= params[:date] %> from All Sources</h3>
      </div>
      <%= render 'listing_panel_body' %>
    </div>
  </div>
  <%= will_paginate @videos, class: 'digg_pagination' %>
<% else %>
  <div id='inner-content-wrapper'>
    <%= image_tag 'derp.jpg' %>
  </div>
<% end %>
