<%
  meta title: "Archive",
       description: 'Funniest content from the internet',
       keywords: ['Memes', 'Jokes', 'Funny News', 'Funny Pictures', 'Funny Videos']
%>

<% if @listings.count > 0 %>

  <div class='row'>
    <%= will_paginate @listings, renderer: BootstrapPagination::Rails %>
  </div>
  <div class='row'>
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Content Archive for <%= params[:date] %> from All Sources</h3>
        </div>
        <%= render 'listing_panel_body' %>
      </div>
    </div>
    <%= render 'layouts/recent_links' %>
  </div>
  <div class='row'>
    <%= will_paginate @listings, renderer: BootstrapPagination::Rails %>
  </div>
<% else %>
  <div id='inner-content-wrapper'>
    <%= image_tag 'derp.jpg' %>
  </div>
<% end %>
