<%
  meta title: "Picture Archive for #{params[:date]}",
       description: 'Top Images, gifs, jpgs, memes, etc from the web',
       keywords: ['Funny Pictures', 'Funny Gifs', 'New Funny Images']
%>

<% if @pictures.count > 0 %>
  <div id='outer-content-wrapper'>
    <%= will_paginate @pictures, renderer: BootstrapPagination::Rails %>

    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Picture Archive for <%= params[:date] %> from All Sources</h3>
      </div>
      <%= render 'listing_panel_body' %>
    </div>
  </div>
  <%= will_paginate @pictures, renderer: BootstrapPagination::Rails %>
<% else %>
  <div id='inner-content-wrapper'>
    <%= image_tag 'derp.jpg' %>
  </div>
<% end %>
