<%
  meta title: "Top jokes from #{params[:date]}",
       description: "Historical archive of the jokes from the web - taken on #{params[:date]}",
       keywords: ['Joke Archive', "#{params[:date]}", 'Jokes']
%>

<% if @jokes.count > 0 %>
  <div id='outer-content-wrapper'>
    <div class='row' id='fixed-height-subnav'>
      <%= will_paginate @jokes, class: 'digg_pagination' %>
      <%= render 'layouts/date_picker', { channel: '/jokes', css: "archive-date" } %>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Popular jokes from <%= params[:date] %></h3>
      </div>
      <%= render 'listing_panel_body' %>
    </div>
  </div>
<% else %>
  <div id='inner-content-wrapper'>
    <%= image_tag 'derp.jpg' %>
    <div class='row' id='fixed-height-subnav'>
      <%= render 'layouts/date_picker', { channel: '/jokes', css: "" } %>
    </div>
  </div>
<% end %>
