<%
  meta title: "Top jokes from #{params[:date]}",
       description: "Historical archive of the jokes from the web - taken on #{params[:date]}",
       keywords: ['Joke Archive', "#{params[:date]}", 'Jokes']
%>

<% if @jokes.count > 0 %>
  <div id='outer-content-wrapper'>
      <%= will_paginate @jokes, renderer: BootstrapPagination::Rails %>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Popular jokes from <%= params[:date] %></h3>
      </div>
      <%= render 'listing_panel_body' %>
    </div>
  </div>
  <%= will_paginate @jokes, renderer: BootstrapPagination::Rails %>
<% else %>
  <div id='inner-content-wrapper'>
    <%= image_tag 'derp.jpg' %>
  </div>
<% end %>
