<!DOCTYPE html>
<html>
  <head>
    <%
      metamagic site: "InternetVortex: The High Quality Humor Engine", title: [:title, :site], separator: " — "
    %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= metamagic %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <div class='container-fluid'>
      <div class="row">
        <div class="col-md-8">

          <%= yield %>

        </div>
        <div class="col-md-4">
          <div class='profit-column'>
            <%= render 'layouts/right_ad_column' %>
          </div>
        </div>
      </div>
      <div class='row'>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- footer-banner -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-1535464165045682"
             data-ad-slot="4849470586"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </body>
</html>
