<!DOCTYPE html>
<html>
  <head>
    <%
      metamagic site: "InternetVortex: The High Quality Humor Engine", title: [:title, :site], separator: " — "
    %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= metamagic %>
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1554449104836544',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <%= render 'layouts/navbar' %>
    <div class='container-fluid'>
      <div class="row">
        <div class="col-md-8">
          <div class="container">

            <%= yield %>

          </div>
        </div>
        <div class="col-md-4">
          <div class='profit-column'>
            <% if false %>
              <!-- Just turning off the ads for now -->
              <%= render 'layouts/right_ad_column' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class='row'>
        <% if false %>
        <!-- Just turning off the ads for now -->
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- footer-banner -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-1535464165045682"
               data-ad-slot="4849470586"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        <% end %>
      </div>
    </div>
  </body>
</html>
