<!DOCTYPE html>
<html>
  <head>
    <title>InternetVortex</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <div class='container'>
      <div class="row">
        <div class="col-md-2">
          <div class='profit-column'>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- responsive-ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1535464165045682"
                 data-ad-slot="1036549788"
                 data-ad-format="auto"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- responsive-ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1535464165045682"
                 data-ad-slot="1036549788"
                 data-ad-format="auto"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
        </div>
        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class="col-md-2">
          <div class='profit-column'>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- responsive-ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1535464165045682"
                 data-ad-slot="1036549788"
                 data-ad-format="auto"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- responsive-ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1535464165045682"
                 data-ad-slot="1036549788"
                 data-ad-format="auto"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
